.container {
  width: 80%;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: black;
  padding: 5px;
  font-family: arial;
}
.navbar-right {
  width: 124px;
  height: 50px;
}
.login {
  padding-left: 20px;
  text-align: right;
}
.account .dropdown-menu, .login .dropdown-menu {
  color: #fff;
  min-width: 200px;
  font-family: arial;
  padding: 5px;
  overflow: hidden;
}
.account .btn {
  margin-top: 30px;
}
.account .row p {
  font-family: arial;
}
.account .text-center {
  color: white;
}
.imageUpload {
  padding-top: 5px;
}
.hidden {
  visibility: hidden;
}
.register {
  font-family: arial;
  width: 50%;
  min-width: 300px;
  height: 400px;
  position: relative;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.register .btn {
  border-radius: 1px;
}
.register .form {
  color: #337ab7;
  margin: 10px;
}
.register .form-control {
  border-radius: 1px;
  border-width: 2px;
  border-color: grey;
}
.register .form-group {
  margin: 10px;
}
.online-container li {
  font-size: 25px;
}
.online-container tspan {
  font-size: 36px;
}
.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
}
.index-row {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  top: 370px;
  margin: auto;
  height: 500px;
  width: 100%;
}
.index-row tspan {
  color: #70B3DB;
}
.index-row li {
  color: rgb(37, 139, 226);
}
.leaflet-container {
  position: absolute;
  height: 320px;
  width: 100%;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.gefasoft-marker p {
  color: rgb(37, 139, 226);
}
.gefasoft-marker {
  color: #70B3DB;
}
.leaflet-popup-content-wrapper {
  background-color: #0e232e;
}
.mysql-db {
  width: 100%;
  top: 60px;
  position: relative;
  margin: auto;
  height: 800px;
}
.server-status tspan {
  font-size: 36px;
}
.server-status li {
  font-size: 25px;
}
.server-status li b {
  float: right;
  margin-right: 13px;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin: 2px;
}
.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.col-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  margin: 6px;
}
.col-sm-custom {
  width: 22%;
  float: left;
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.min-width-200px {
  min-width: 300px;
}
